body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}


.imagem-header{
    width: 100%;
    height: 85vh; 
    position: absolute;;

}

.titulo {
    position: absolute;
    top: 30%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    color: white; 
    padding: 10px; 
    font-family: 'League Spartan', sans-serif; 
    text-align: center;
    font-size: 75px;
    font-weight: bold;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px; 
    position: relative;
    z-index: 1;
    margin-top: auto; 
    font-family: 'Segoe UI', Roboto, 'Open Sans', 'Ubuntu', 'Fira Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold; 
}

.item {
    padding: 40px;
    text-align: center;
    font-size: 25px;
}

.push {
    height: 72%; 
}

.open-book{
    padding-bottom: 15px;
    width: 8vh;
}

.goal{
    padding-bottom: 17px;
    width: 8vh;
}

.ref{
    padding-bottom: 17px;
    width: 8vh;
}

.exam{
    padding-bottom: 17px;
    width: 8vh;
    font-size: 5px !important; 
}

.teacher{
    padding-bottom: 17px;
    width: 10vh;
}

.student{
    padding-bottom: 17px;
    width: 10vh;
}

a:visited {
    color: black; 
  }
  

  a {
    text-decoration: none; 
    color: black;
  }

  a:hover {
    color: #6089FF; 
  }

